<main id="main" class="main">

    <div class="pagetitle">
        <h1>List Groups</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item">List Group</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4" style="margin-right: 20px;">

                        <section class="section dashboard">
                            <div class="row">
                                <div class="col-12" style="margin-top: 20px; margin-left: 15px">
                                    <button style="margin-right: 8px; margin-bottom: 20px; margin-left: 20px;"
                                        type="button" class="btn bi-plus-circle-fill btn-outline-primary"
                                        (click)="openModal(getGroup)">
                                        Buat Group
                                    </button>

                                    <ng-template #getGroup>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Tambah Group</h4>
                                            <button type="button" class="btn-close close pull-right" aria-label="Close"
                                                (click)="modalRef.hide()">
                                                <span aria-hidden="true" class="visually-hidden">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form [formGroup]="formRegisterGroup" (ngSubmit)="doAddGroup()"
                                                class="row g-3">
                                                <div class="col-md-12">
                                                    <label for="inputNama" class="form-label">Nama Group</label>
                                                    <input type="text" formControlName="groupName"
                                                        [ngClass]="errorControl['groupName'].valid ? 'is-valid' : (errorControl['groupName'].dirty || errorControl['groupName'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="inputGrup" />
                                                    <ng-container
                                                        *ngIf="(errorControl['groupName'].dirty || errorControl['groupName'].touched) && errorControl['groupName'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControl['groupName'].errors['required']">Nama
                                                            grup tidak
                                                            boleh kosong.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="inputNoHP" class="form-label">Passcode</label>
                                                    <input type="password" formControlName="passcode"
                                                        [ngClass]="errorControl['passcode'].valid ? 'is-valid' : (errorControl['passcode'].dirty || errorControl['passcode'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="inputPasscode" />
                                                    <ng-container
                                                        *ngIf="(errorControl['passcode'].dirty || errorControl['passcode'].touched) && errorControl['passcode'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControl['passcode'].errors['required']">Passcode
                                                            tidak
                                                            boleh kosong dan minimal harus 8 karakter.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputUsername" class="form-label">Tanggal
                                                        Pembuatan</label>
                                                    <input type="date" formControlName="createdDate"
                                                        [ngClass]="errorControl['createdDate'].valid ? 'is-valid' : (errorControl['createdDate'].dirty || errorControl['createdDate'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="inputTanggalPembuatan" />
                                                    <ng-container
                                                        *ngIf="(errorControl['createdDate'].dirty || errorControl['createdDate'].touched) && errorControl['createdDate'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControl['createdDate'].errors['required']">
                                                            Tanggal
                                                            pembuatan tidak boleh kosong.</div>
                                                    </ng-container>
                                                </div>
                                                <div>
                                                    <br>
                                                    <h6>Silahkan pilih biaya arisan untuk grup ini: </h6>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="buttonMoney5"
                                                            name="flexRadioDefault" checked (click)="doClick(500000)">
                                                        <label class="form-check-label" for="buttonMoney5">Rp
                                                            500.000,00</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="buttonMoney10"
                                                            name="flexRadioDefault" (click)="doClick(1000000)">
                                                        <label class="form-check-label" for="buttonMoney10">Rp
                                                            1.000.000,00</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="buttonMoney20"
                                                            name="flexRadioDefault" (click)="doClick(2000000)">
                                                        <label class="form-check-label" for="buttonMoney20">Rp
                                                            2.000.000,00</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="buttonMoney30"
                                                            name="flexRadioDefault" (click)="doClick(3000000)">
                                                        <label class="form-check-label" for="buttonMoney30">Rp
                                                            3.000.000,00</label>
                                                    </div>
                                                </div>



                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" (click)="modalRef.hide()">Tutup</button>
                                                    <button type="submit" class="btn btn-primary"
                                                        [disabled]="!formRegisterGroup.valid"
                                                        (click)="modalRef.hide()">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0" style="margin-right: 20px;">
                                                <thead>
                                                    <tr align="center">
                                                        <th>Nomor</th>
                                                        <!-- <th>ID Group</th> -->
                                                        <th>Nama Group</th>
                                                        <th>Tanggal Pembuatan</th>
                                                        <th>Total Anggota</th>
                                                        <th>Biaya Arisan</th>
                                                        <th>Show Detail</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let members of groups; let i = index" align="center">
                                                        <td>{{ i+1 }}</td>
                                                        <!-- <td>{{ member.idGroup }}</td> -->
                                                        <td>{{ members.groupName }}</td>
                                                        <td>{{ members.createdDate }}</td>
                                                        <td>{{ members.totalMember }}</td>
                                                        <td>{{ members.totalMoney | currency: "Rp ": 'symbol': '0.0' }}
                                                        </td>
                                                        <td>
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-info btn-sm"
                                                                (click)="openModal(showMemberDetail); doShowIDGroup(members)">
                                                                <i class="bi bi-people"></i>
                                                            </button>
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-success btn-sm"
                                                                (click)="openModal(showTransaction); doShowGroupTransaction(members)">
                                                                <i class="bi bi-cash-coin"></i>
                                                            </button>
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-warning btn-sm"
                                                                (click)="openModal(showWallet); doShowWallet(members)">
                                                                <i class="bi bi-wallet"></i>
                                                            </button>
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-dark btn-sm"
                                                                (click)="openModal(changeAdmin); doShowGroupInfo(members)">
                                                                <i class="bi bi-person-fill"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- </ng-template> -->
                                            <ng-template #showMemberDetail scrollable>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Member of This Group</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <table class="table table-bordered" id="dataTable" width="100%"
                                                        cellspacing="0">
                                                        <thead>
                                                            <tr align="center">
                                                                <th>Nomor</th>
                                                                <th>Nama Member</th>
                                                                <th>Status</th>
                                                                <th>Role Member</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let eachMember of memberGroup; let i = index">
                                                            <tr align="center">
                                                                <td>{{ i+1 }}</td>
                                                                <td>{{ eachMember.memberName }}</td>
                                                                <td
                                                                    [ngStyle]="{'color': eachMember.status === 'Active' ? '#008000' : '#dc143c'}">
                                                                    {{ eachMember.status }}</td>
                                                                <td
                                                                    [ngStyle]="{'color': eachMember.roleMember === true ? '#1e90ff' : '#008000'}">
                                                                    {{ eachMember.roleMember ? 'Admin Grup':'Anggota'}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ng-template>

                                            <!-- </ng-template> -->
                                            <ng-template #showTransaction scrollable>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Transaction of This Group</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <table class="table table-bordered" id="dataTable" width="100%"
                                                        cellspacing="0">
                                                        <thead>
                                                            <tr align="center">
                                                                <th>Nomor</th>
                                                                <th>Pemenang</th>
                                                                <th>Biaya Arisan yang Ditransfer</th>
                                                                <th>Tanggal Transaksi</th>
                                                                <th>Status Pembayaran</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let eachGroup of transaksiGrup; let i = index">
                                                            <tr align="center">
                                                                <td>{{ i+1 }}</td>
                                                                <td>{{ eachGroup.winner }}</td>
                                                                <td>{{ eachGroup.moneyTransfered | currency: "Rp ":
                                                                    'symbol': '0.0' }}</td>
                                                                <td>{{ eachGroup.dateOfGroupTransaction }}</td>
                                                                <td
                                                                    [ngStyle]="{'color': eachGroup.transfered === true ? '#008000' : '#dc143c'}">
                                                                    {{ eachGroup.transfered ? 'Sudah Bayar' : 'Belum
                                                                    Bayar'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ng-template>

                                            <!-- </ng-template> -->
                                            <ng-template #showWallet scrollable>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Wallet of This Group</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <h5>Saldo Wallet Grup</h5>
                                                    <br>
                                                    <h4>{{ walletGrup.groupWalletBalance | currency: "Rp ": 'symbol':
                                                        '0.0' }}</h4>
                                                </div>
                                            </ng-template>

                                            <!-- </ng-template> -->
                                            <ng-template #changeAdmin>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Ubah Admin Grup</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <form [formGroup]="formChangeAdmin" (ngSubmit)="doChangeAdmin()"
                                                        class="row g-3">
                                                        <div class="col-md-12">
                                                            <label for="inputNama" class="form-label">Member yang akan
                                                                dijadikan admin grup</label>
                                                            <input type="text" formControlName="memberName"
                                                                [ngClass]="errorControlAdmin['memberName'].valid ? 'is-valid' : (errorControlAdmin['memberName'].dirty || errorControlAdmin['memberName'].touched) ? 'is-invalid' : ''"
                                                                class="form-control" id="inputNama" />
                                                            <ng-container
                                                                *ngIf="(errorControlAdmin['memberName'].dirty || errorControlAdmin['memberName'].touched) && errorControlAdmin['memberName'].errors">
                                                                <div class="text-danger"
                                                                    *ngIf="errorControlAdmin['memberName'].errors['required']">
                                                                    Nama harus diisikan untuk mengubah admin grup</div>
                                                            </ng-container>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal"
                                                                (click)="modalRef.hide()">Tutup</button>
                                                            <button type="submit" class="btn btn-success"
                                                                [disabled]="!formChangeAdmin.valid"
                                                                (click)="modalRef.hide()">Simpan</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </ng-template>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->