  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/dashboard']" routerLinkActive="active-menu">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-heading" style="margin-top: 20px;">SubMenu</li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/category/list-users']" routerLinkActive="active-menu">
          <i class="bi bi-person-fill"></i>
          <span>List User</span>
        </a>
      </li>
      <!-- End User Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/category/list-groups']" routerLinkActive="active-menu">
          <i class="bi bi-people"></i>
          <span>List Groups</span>
        </a>
      </li>
      <!-- End Group Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/category/history-transaksi-user']" routerLinkActive="active-menu">
          <i class="bi bi-people"></i>
          <span>Transaksi User</span>
        </a>
      </li> -->
      <!-- End Group Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/category/history-transaksi-group']" routerLinkActive="active-menu">
          <i class="bi bi-people"></i>
          <span>Transaksi Group</span>
        </a>
      </li> -->
      <!-- End Group Page Nav -->

    </ul>

  </aside>
  <!-- End Sidebar-->