<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row" style="margin-left: 200px; margin-top: 100px;">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profil</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="assets/img/Circle-icons-profile.svg.png"
                        alt="" style="max-height: 200px; margin-top: 30px;">
                    <!-- Profile picture help block-->
                    <br>
                    <br>
                    <h3>{{ userProfile?.fullName }}</h3>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header" style="margin-bottom: 10px;">Detail Akun</div>
                <div class="card-body">
                    <form [formGroup]="formProfile" (ngSubmit)="doChangeProfile()" class="row g-3">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input type="text" readonly formControlName="username" class="form-control"
                                id="inputUsername" />
                        </div>
                        <!-- Form Group (fullname)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputFullname">Nama Lengkap</label>
                            <input type="text" formControlName="fullName"
                                [ngClass]="errorControl['fullName'].valid ? 'is-valid' : (errorControl['fullName'].dirty || errorControl['fullName'].touched) ? 'is-invalid' : ''"
                                class="form-control" id="inputFullname" />
                            <ng-container
                                *ngIf="(errorControl['fullName'].dirty || errorControl['fullName'].touched) && errorControl['fullName'].errors">
                                <div class="text-danger" *ngIf="errorControl['fullName'].errors['required']">Nama
                                    lengkap tidak boleh kosong</div>
                            </ng-container>
                        </div>
                        <!-- Form Row -->
                        <div class="row gx-1 mb-3" style="margin-left: 5px;">
                            <!-- Form Group (DOB)-->
                            <div class="col-md-6" style="width: 330px;">
                                <label class="small mb-1" for="inputDOB">Tanggal Lahir</label>
                                <input type="date" formControlName="dateOfBirth"
                                    [ngClass]="errorControl['dateOfBirth'].valid ? 'is-valid' : (errorControl['dateOfBirth'].dirty || errorControl['dateOfBirth'].touched) ? 'is-invalid' : ''"
                                    class="form-control" id="inputDOB" />
                                <ng-container
                                    *ngIf="(errorControl['dateOfBirth'].dirty || errorControl['dateOfBirth'].touched) && errorControl['dateOfBirth'].errors">
                                    <div class="text-danger" *ngIf="errorControl['dateOfBirth'].errors['required']">
                                        Tanggal lahir tidak boleh kosong</div>
                                </ng-container>
                            </div>
                            <!-- Form Group (Gender)-->
                            <div class="col-md-6" style="width: 330px;">
                                <label class="small mb-1" for="inputGender">Jenis Kelamin</label>
                                <select class="form-select" aria-label="Default select example" formControlName="gender"
                                    [ngClass]="errorControl['gender'].valid ? 'is-valid' : (errorControl['gender'].dirty || errorControl['gender'].touched) ? 'is-invalid' : ''"
                                    class="form-control" id="inputGender" name="gender">
                                    <option value="Perempuan">Perempuan</option>
                                    <option value="Laki-laki">Laki-laki</option>
                                    <option value="Memilih tidak menjawab">Memilih tidak menjawab</option>
                                </select>
                                <ng-container
                                    *ngIf="(errorControl['gender'].dirty || errorControl['gender'].touched) && errorControl['gender'].errors">
                                    <div class="text-danger" *ngIf="errorControl['gender'].errors['required']">Jenis
                                        kelamin tidak boleh kosong</div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-outline-success"
                            style="margin-left: 10px; margin-right: 10px; max-width: 660px" type="submit">
                            <i class="bi bi-person-badge">Ubah Profil</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>