<main id="main" class="main">

    <div class="pagetitle">
        <h1>List User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item">List User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4" style="margin-right: 20px;">

                        <section class="section dashboard">
                            <div class="row">
                                <div class="col-12" style="margin-top: 20px; margin-left: 5px">
                                    <!-- <div class="row">
            <div class="col-12" style="margin-top: 20px; margin-left: 10px">
                <button style="margin-right: 8px; margin-bottom: 12px" type="button" class="btn btn-primary"
                    (click)="openModal(template)">
                    Add Users
                </button>

                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Tambah User</h4>
                        <button type="button" class="btn-close close pull-right" aria-label="Close"
                            (click)="modalRef?.hide()">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="formRegister" (ngSubmit)="doAddUser()" class="row g-3">
                            <div class="col-md-12">
                                <label for="inputNama" class="form-label">Nama Lengkap</label>
                                <input type="text" formControlName="fullName" class="form-control" id="inputName5" />
                            </div>
                            <div class="col-md-12">
                                <label for="inputNoHP" class="form-label">Nomor Telepon</label>
                                <input type="text" formControlName="phoneNumber" class="form-control" id="inputName5" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputUsername" class="form-label">Username</label>
                                <input type="text" formControlName="username" class="form-control" id="inputUsername5" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="inputPassword" />
                            </div>
                            <div class="col-12">
                                <label for="inputTanggalLahir" class="form-label">Tanggal Lahir</label>
                                <input type="date" formControlName="date" class="form-control" id="inputTanggalLahir"
                                    placeholder="yyyy-mm-dd" />
                            </div>

                            <div class="col-md-6">
                                <label for="inputGender" class="form-label">Jenis Kelamin</label>
                                <input type="text" formControlName="gender" class="form-control" id="inputGender" />
                            </div>
                            <div class="col-md-12">
                                <label for="inputFile" class="form-label">Photo</label>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="form-control"
                                    id="inputFile" (change)="showPreview($event)" />
                                <ng-container *ngIf="photo">
                                    <img src="{{ photo }}" alt="" width="200" height="200" />
                                </ng-container>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    (click)="modalRef?.hide()">Tutup</button>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!formRegister.valid">Simpan</button>
                            </div>
                        </form>
                    </div> -->

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr align="center">
                                                        <th>Nomor</th>
                                                        <!-- <th>ID User</th> -->
                                                        <th>Username</th>
                                                        <th>Nama Lengkap</th>
                                                        <th>Nomor Telepon</th>
                                                        <th>Tanggal Lahir</th>
                                                        <th>Jenis Kelamin</th>
                                                        <th>Role</th>
                                                        <th>Show Detail</th>
                                                        <!-- <th scope="col">Image</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let user of users; let i = index" align="center">
                                                        <td>{{ i+1 }}</td>
                                                        <!-- <td>{{ user.idUser }}</td> -->
                                                        <td>{{ user.username }}</td>
                                                        <td>{{ user.fullName }}</td>
                                                        <td>{{ user.phoneNumber }}</td>
                                                        <td>{{ user.dateOfBirth }}</td>
                                                        <td>{{ user.gender }}</td>
                                                        <td
                                                            [ngStyle]="{'color': user.admin === true ? '#1e90ff' : '#008000'}">
                                                            {{ user.admin ? 'Admin' : 'User'}}</td>
                                                        <td align="center">
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-success btn-sm"
                                                                (click)="openModal(showTransactionUser); doShowUserTransaction(user)">
                                                                <i class="bi bi-currency-dollar"></i>
                                                            </button>
                                                            <button style="margin-right: 8px; margin-bottom: 5px;"
                                                                type="button" class="btn btn-outline-primary btn-sm"
                                                                (click)="openModal(showGroup); doShowGroup(user)">
                                                                <i class="bi bi-people-fill"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- </ng-template> -->
                                            <ng-template #showTransactionUser scrollable>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">User Transaction</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <ng-container
                                                        *ngFor="let eachTransaction of transaksiUser; let i = index">
                                                        <div class="accordion" id="accordionExample">
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="headingOne">
                                                                    <button class="accordion-button" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapseOne"
                                                                        aria-expanded="true"
                                                                        aria-controls="collapseOne">
                                                                        Nomor urut grup dalam list grup user : {{ i+1 }}
                                                                    </button>
                                                                </h2>
                                                                <div id="collapseOne"
                                                                    class="accordion-collapse collapse show"
                                                                    aria-labelledby="headingOne"
                                                                    data-bs-parent="#accordionExample">
                                                                    <div class="accordion-body">
                                                                        <table class="table table-bordered"
                                                                            id="dataTable" width="100%" cellspacing="0">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Nomor</th>
                                                                                    <th>ID Transaksi</th>
                                                                                    <th>Deadline Pembayaran</th>
                                                                                    <th>Total Transaksi</th>
                                                                                    <th>Tanggal Transaksi</th>
                                                                                    <th>Status Pembayaran</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!-- <ng-container *ngFor="let eachTransaction of transaksiUser; let i = index">
                                                                    <tr> -->
                                                                                <!-- <td>{{ i+1 }}</td>
                                                                        <td>{{ eachTransaction.paymentDeadline }}</td>
                                                                        <td>{{ eachTransaction.transactionValue| currency: "Rp ": 'symbol': '0.0' }}</td>
                                                                        <td>{{ eachTransaction.dateOfTransaction}}</td>
                                                                        <td [ngStyle]="{'color': eachTransaction.is_paid === true ? '#008000' : '#dc143c'}">{{ eachTransaction.is_paid ? 'Sudah Bayar':'Belum Bayar'}}</td> -->
                                                                                <!-- </tr>
                                                                </ng-container> -->
                                                                                <ng-container
                                                                                    *ngFor="let column of eachTransaction; let i = index">

                                                                                    <tr>
                                                                                        <td>{{ i+1 }}</td>
                                                                                        <td>{{ column.idTransaction }}</td>
                                                                                        <td>{{
                                                                                            column.paymentDeadline
                                                                                            }}</td>
                                                                                        <td>{{
                                                                                            column.transactionValue|
                                                                                            currency: "Rp ": 'symbol':
                                                                                            '0.0'
                                                                                            }}</td>
                                                                                        <td>{{
                                                                                            column.dateOfTransaction}}
                                                                                        </td>
                                                                                        <td
                                                                                            [ngStyle]="{'color': column.is_paid === true ? '#008000' : '#dc143c'}">
                                                                                            {{ column.is_paid
                                                                                            ? 'Sudah Bayar':'Belum
                                                                                            Bayar'}}

                                                                                        </td>
                                                                                    </tr>
                                                                                </ng-container>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-template>

                                            <ng-template #showGroup scrollable>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Group for This User</h4>
                                                    <button type="button" class="btn-close close pull-right"
                                                        aria-label="Close" (click)="modalRef.hide()">
                                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%"
                                                            cellspacing="0" style="margin-right: 20px;">
                                                            <thead>
                                                                <tr align="center">
                                                                    <th>Nomor</th>
                                                                    <th>Nama Group</th>
                                                                    <th>Tanggal Pembuatan</th>
                                                                    <th>Total Anggota</th>
                                                                    <th>Biaya Arisan</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let member of groups; let i = index"
                                                                    align="center">
                                                                    <td>{{ i+1 }}</td>
                                                                    <td>{{ member.groupName }}</td>
                                                                    <td>{{ member.createdDate }}</td>
                                                                    <td>{{ member.totalMember }}</td>
                                                                    <td>{{ member.totalMoney | currency: "Rp ":
                                                                        'symbol': '0.0' }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </ng-template>

                                        </div>
                                    </div>

                                    <!-- </ng-template>
                                    <ng-template #updateData scrollable>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Data User</h4>
                                            <button type="button" class="btn-close close pull-right" aria-label="Close"
                                                (click)="modalRef.hide()">
                                                <span aria-hidden="true" class="visually-hidden">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form [formGroup]="formUpdateUser" (ngSubmit)="doChangePassword()"
                                                class="row g-3">
                                                <div class="col-md-12">
                                                    <label for="inputNama" class="form-label">Nama Lengkap</label>
                                                    <input type="text" formControlName="fullName"
                                                        [ngClass]="errorControlUpdate['fullName'].valid ? 'is-valid' : (errorControlUpdate['fullName'].dirty || errorControlUpdate['fullName'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="fullName" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['fullName'].dirty || errorControlUpdate['fullName'].touched) && errorControlUpdate['fullName'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['fullName'].errors['required']">
                                                            Nama lengkap harus diisi.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="inputNoHP" class="form-label">Nomor Telepon</label>
                                                    <input type="number" formControlName="phoneNumber"
                                                        [ngClass]="errorControlUpdate['phoneNumber'].valid ? 'is-valid' : (errorControlUpdate['phoneNumber'].dirty || errorControlUpdate['phoneNumber'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="phoneNumber" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['phoneNumber'].dirty || errorControlUpdate['phoneNumber'].touched) && errorControlUpdate['phoneNumber'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['phoneNumber'].errors['required']">
                                                            Nomor telepon harus diisi.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputUsername" class="form-label">Username</label>
                                                    <input type="text" formControlName="username"
                                                        [ngClass]="errorControlUpdate['username'].valid ? 'is-valid' : (errorControlUpdate['username'].dirty || errorControlUpdate['username'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="username" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['username'].dirty || errorControlUpdate['username'].touched) && errorControlUpdate['username'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['username'].errors['required']">
                                                            Username tidak boleh kosong.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputPassword" class="form-label">Password</label>
                                                    <input type="password" formControlName="password" name="password"
                                                        [ngClass]="errorControlUpdate['password'].valid ? 'is-valid' : (errorControlUpdate['password'].dirty || errorControlUpdate['password'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="password" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['password'].dirty || errorControlUpdate['password'].touched) && errorControlUpdate['password'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['password'].errors['minlength']">
                                                            Password harus diisi dan minimal 8 karakter.</div>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputTanggalLahir" class="form-label">Tanggal
                                                        Lahir</label>
                                                    <input type="date" formControlName="dateOfBirth"
                                                        [ngClass]="errorControlUpdate['dateOfBirth'].valid ? 'is-valid' : (errorControlUpdate['dateOfBirth'].dirty || errorControlUpdate['dateOfBirth'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="dateOfBirth"
                                                        placeholder="yyyy-mm-dd" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['dateOfBirth'].dirty || errorControlUpdate['dateOfBirth'].touched) && errorControlUpdate['dateOfBirth'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['dateOfBirth'].errors['required']">
                                                            Tanggal lahir harus diisi</div>
                                                    </ng-container>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="inputGender" class="form-label">Jenis Kelamin</label>
                                                    <select class="form-select" aria-label="Default select example"
                                                        formControlName="gender" name="gender">
                                                        <option selected>Jenis kelamin</option>
                                                        <option value="Perempuan">Perempuan</option>
                                                        <option value="Laki-laki">Laki-laki</option>
                                                        <option value="Memilih tidak menjawab">Memilih tidak menjawab
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="inputAdmin" class="form-label">Is Admin? (true or
                                                        false)</label>
                                                    <input type="text" formControlName="admin"
                                                        [ngClass]="errorControlUpdate['admin'].valid ? 'is-valid' : (errorControlUpdate['admin'].dirty || errorControlUpdate['admin'].touched) ? 'is-invalid' : ''"
                                                        class="form-control" id="admin" />
                                                    <ng-container
                                                        *ngIf="(errorControlUpdate['admin'].dirty || errorControlUpdate['admin'].touched) && errorControlUpdate['admin'].errors">
                                                        <div class="text-danger"
                                                            *ngIf="errorControlUpdate['admin'].errors['required']">
                                                            Role harus diisi
                                                        </div>
                                                    </ng-container>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" (click)="modalRef.hide()">Tutup</button>
                                                    <button type="submit" class="btn btn-primary"
                                                        [disabled]="!formUpdateUser.valid"
                                                        (click)="modalRef.hide()">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template> -->

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->