<main id="main" class="main">

    <div class="pagetitle">
        <h1>List User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item">List User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4" style="margin-right: 20px;">
                        <div class="card-header py-3" style="margin-left: 15px">
                            <h3 class="m-0 font-weight-bold text-primary">List Transaksi User</h3>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">List Transaksi User</li>
                                </ol>
                            </nav>
                        </div>


                        <section class="section dashboard">
                            <div class="row">

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                            style="margin-right: 20px;">
                                            <thead>
                                                <tr>
                                                    <th>Nomor</th>
                                                    <th>Nama User</th>
                                                    <!-- <th>ID Transaksi</th> -->
                                                    <th>Deadline Pembayaran</th>
                                                    <th>Jumlah Transaksi</th>
                                                    <th>Tanggal Transaksi</th>
                                                    <th>Status Pembayaran</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let userTrans of transaksiUser; let i = index">
                                                    <td>{{ i+1 }}</td>
                                                    <td>{{ userTrans.memberName }}</td>
                                                    <!-- <td align="center">
                                                        <button style="margin-right: 8px; margin-bottom: 12px;"
                                                            type="button" class="btn btn-default btn-lg"
                                                            (click)="openModal(showUser); doShowUser(userTrans)">
                                                            <i class="bi bi-person"></i>
                                                        </button>
                                                    </td> -->
                                                    <!-- <td>{{ userTrans.idTransaction }}</td> -->
                                                    <td>{{ userTrans.transactions.paymentDeadline }}</td>
                                                    <td>{{ userTrans.transactions.transactionValue| currency: "Rp ": 'symbol': '3.0'  }}</td>
                                                    <td>{{ userTrans.transactions.dateOfTransaction }}</td>
                                                    <td>{{ userTrans.transactions.is_paid ? 'Sudah Bayar':'Belum Bayar' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main> <!-- End #main -->