<main id="main" class="main">

    <div class="pagetitle">
        <h1>List User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item">List User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4" style="margin-right: 20px;">
                        <div class="card-header py-3" style="margin-left: 15px">
                            <h3 class="m-0 font-weight-bold text-primary">List Transaksi User Dalam Grup</h3>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">List Transaksi User Dalam Grup</li>
                                </ol>
                            </nav>
                        </div>


                        <section class="section dashboard">
                            <div class="row">

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                            style="margin-right: 20px;">
                                            <thead>
                                                <tr>
                                                    <th>Nomor</th>
                                                    <!-- <th>ID Transaksi Grup</th> -->
                                                    <th>Pemenang</th>
                                                    <th>Biaya Arisan yang Ditransfer</th>
                                                    <th>Tanggal Transaksi</th>
                                                    <th>Status Pembayaran</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let grupTrans of transaksiGrup; let i = index">
                                                    <td>{{ i+1 }}</td>
                                                    <!-- <td>{{ grupTrans.idGroupTransaction }}</td> -->
                                                    <td>{{ grupTrans.winner }}</td>
                                                    <td>{{ grupTrans.moneyTransfered | currency: "Rp ": 'symbol': '3.0' }}</td>
                                                    <td>{{ grupTrans.dateOfGroupTransaction }}</td>
                                                    <td>{{ grupTrans.transfered ? 'Sudah Bayar' : 'Belum Bayar'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->