<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="row">
            <div class="col-xxl-4 col-md-6">
               <div class="card info-card sales-card">
                  <div class="card-body">
                     <h5 class="card-title">Jumlah User <span>| Saat Ini</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                              class="bi bi-people"></i></div>
                        <div class="ps-3">
                           <h6>{{ users.length }}</h6>
                           <span class="text-muted small pt-2 ps-1">Pengguna</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-md-6">
               <div class="card info-card revenue-card">
                  <div class="card-body">
                     <h5 class="card-title">Total Transaksi <span>| Saat Ini</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                              class="bi bi-currency-dollar"></i></div>
                        <div class="ps-3">
                           <h6>{{ transactionValue | currency: "Rp ": 'symbol':'0.0' }}</h6>
                           <span class="text-muted small pt-2 ps-1">Dari {{ groups.length }} grup</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-xl-12">
               <div class="card info-card customers-card">
                  <div class="card-body">
                     <h5 class="card-title">Revenue <span>| Saat Ini</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                              class="bi bi-people"></i></div>
                        <div class="ps-3">
                           <h6>{{ revenue | currency: "Rp ": 'symbol':'0.0' }}</h6>
                           <span class="text-muted small pt-2 ps-1">Dari total transaksi user: {{ jumlahTransaksi.length }} transaksi</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">Aktivitas User <span>/Hingga saat ini</span></h5>
                     <div id="reportsChart"></div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="card recent-sales overflow-auto">
                  <div class="card-body">
                     <h5 class="card-title">Transaksi Terbaru</h5>
                     <table class="table table-borderless datatable">
                        <thead>
                           <tr>
                              <th scope="col">Nomor</th>
                              <th scope="col">Nama User</th>
                              <th scope="col">ID Grup Terlibat</th>
                              <th scope="col">Deskripsi Transaksi</th>
                              <th scope="col">Jumlah Transaksi</th>
                              <th scope="col">Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th class="col-8 d-flex justify-content-center text-center">1</th>
                              <td>Jake Red</td>
                              <td class="col-8 d-flex justify-content-center text-center">1</td>
                              <td>Sudah bayar arisan</td>
                              <td>Rp 1.000.000</td>
                              <td><span class="badge bg-success">Selesai</span></td>
                           </tr>
                           <tr>
                              <th class="col-8 d-flex justify-content-center text-center">2</th>
                              <td>Meredith Grey</td>
                              <td class="col-8 d-flex justify-content-center text-center">4</td>
                              <td>Mendata deadline arisan</td>
                              <td>Rp 2.000.000</td>
                              <td><span class="badge bg-danger">Belum Selesai</span></td>
                           </tr>
                           <tr>
                              <th class="col-8 d-flex justify-content-center text-center">3</th>
                              <td>Alice Emerald</td>
                              <td class="col-8 d-flex justify-content-center text-center">10</td>
                              <td>Sudah bayar arisan</td>
                              <td>Rp 500.000</td>
                              <td><span class="badge bg-success">Selesai</span></td>
                           </tr>
                           <tr>
                              <th class="col-8 d-flex justify-content-center text-center">4</th>
                              <td>Sirius Black</td>
                              <td class="col-8 d-flex justify-content-center text-center">2</td>
                              <td>Sudah bayar arisan</td>
                              <td>Rp 1.000.000</td>
                              <td><span class="badge bg-success">Selesai</span></td>
                           </tr>
                           <tr>
                              <th class="col-8 d-flex justify-content-center text-center">5</th>
                              <td>Emilia Augustine Cyan</td>
                              <td class="col-8 d-flex justify-content-center text-center">4</td>
                              <td>Mendata deadline arisan</td>
                              <td>Rp 2.000.000</td>
                              <td><span class="badge bg-danger">Belum Selesai</span></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                     <h5 class="card-title">List Grup <span>| dengan total transaksi terbesar</span></h5>
                     <table class="table table-borderless">
                        <thead>
                           <tr>
                              <th scope="col" class="col-8 d-flex justify-content-center text-center">Nomor</th>
                              <th scope="col">Nama Grup</th>
                              <th scope="col">Jumlah Transaksi</th>
                              <th scope="col">Revenue</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td class="col-8 d-flex justify-content-center text-center">1</td>
                              <td>grupARMY</td>
                              <td>Rp 12.000.000</td>
                              <td class="fw-bold">Rp 120.000</td>
                           </tr>
                           <tr>
                              <td class="col-8 d-flex justify-content-center text-center">2</td>
                              <td>grupBTS</td>
                              <td>Rp 8.000.000</td>
                              <td class="fw-bold">Rp 80.000</td>
                           </tr>
                           <tr>
                              <td class="col-8 d-flex justify-content-center text-center">3</td>
                              <td>grupJIMIN123</td>
                              <td>Rp 6.000.000</td>
                              <td class="fw-bold">Rp 60.000</td>
                           </tr>
                           <tr>
                              <td class="col-8 d-flex justify-content-center text-center">4</td>
                              <td>grupPTDP</td>
                              <td>Rp 5.000.000</td>
                              <td class="fw-bold">Rp 50.000</td>
                           </tr>
                           <tr>
                              <td class="col-8 d-flex justify-content-center text-center">5</td>
                              <td>grupBatch4</td>
                              <td>Rp 3.000.000</td>
                              <td class="fw-bold">Rp 30.000</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>